@import '../1-base/base-mixins';
@import './layouts-mixins';

.products-grid {
    @include center-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    
    h2 {        
        font-size: 2rem;
        text-transform: uppercase;

        @include mobile {
            text-align: center;               
        }
    }

    &-container {
        display: flex;        
        justify-content: space-between;        
        padding: 2rem 0;

        @include mobile {
            align-items: center; 
            flex-direction: column;                   
        }
    }
}